[submodule "webapps/dokter"]
	path = webapps/dokter
	url = https://github.com/basoro/Dokter-Ulun
[submodule "webapps/pasien"]
	path = webapps/pasien
	url = https://github.com/basoro/Aplikasi-Damanhuri
