**/.DS_Store
ApkRegistrasiOnline
DocumenPengembangan
KhanzaAntrianApotek
KhanzaAntrianLoket
KhanzaAntrianPoli
KhanzaHMSAnjungan
KhanzaHMSAnjunganFingerPrint
KhanzaHMSAutoVerify
KhanzaHMSResume
KhanzaHMSServiceAplicare
KhanzaHMSServiceSIRSYankes
KhanzaPengenkripsiTeks
KhanzaSecurity16bit
KhanzaUpdater
alarm
build
dist
driverFlexCode
k-base
lib
nbproject
pendaftaran-android-ios/pendaftaran-android-ios
pendaftaran2
presensi
resumepasien
sim
suara
suaraapotek
_webapps
.DS_Store
BulananHAIs.html
DetailJMDokter2.doc
DetailJMDokter2.html
DetailJMDokter2.odt
DetailJMDokter2.wps
DetailJMDokter2.xls
DetailKunjunganLab.html
HarianHAIs.html
LaporanPenjualan.html
PembayaranPerAkunBayar.html
PesertaKegiatanKelompokPCare.html
SaldoAkunPerBulan.html
build.xml
file.css
file.json
file2.css
fileakunbayar.css
filepenjualan.css
merge.html
merge.pdf
nik.xml
resumemedis.html
rl4a.html
rl4b.html
rl4bsebab.html
sensusdokter.html
sensusharian.html
sensuspoli.html
sik2.sql
sisastok.html
